h1, h2, h3, h4, h5, h6 {
	font-family: 'Georgia', Times, 'Times New Roman', serif;
}

a {
	text-decoration: none;
}

body {
	font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
	background-image: url(../images/textured_paper.png);
	background-color: #eee;
}

nav {
	background: #fff;
	border-bottom: 2px solid #ccc;
}

/* So my nav bottom border is showing ABOVE its content. above #logo and #navlinks. What gives? Is it display: inline-block? doesn't appear to be... Is it a funny behavior of float or clear that I don't understand yet? I mean, I gotta assume so... */

#logo {
	float: left;
	display: inline-block;
	background-color: #4aaaa5;
	color: white;
	font-style: bold;
	padding: 20px;
}

#navlinks {
	float: right;
	display: inline-block;
}

main {
	clear: both;
}

.content {
	width: 650px;
	float: left;
}

.sidebar {
	width: 270px;
	float: right;
}

#headshot {
	width: 200px;
	float: left;
	padding-right: 10px;
}

footer {
	clear: both;
}