* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

/* Comment out after working on layout: */

/** {
	border: 1px solid red;
}*/

.floatLeft {
	float: left;
}

.floatRight {
	float: right;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

.center {
	margin: auto;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Georgia', Times, 'Times New Roman', serif;
	color: #4aaaa5;
	margin: 0px;
}

a {
	text-decoration: none;
}

body {
	margin: 0;
	font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
	background-image: url(../images/textured_paper.png);
	background-color: #eee;
	color: #777;
}

nav {
	background: #fff;
	border-bottom: 2px solid #ccc;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
}

#navContainer {
	width: 960px;
	margin: auto;
}

#logo {
	background-color: #4aaaa5;
	color: white;
	font-style: bold;
	padding: 20px;
}

/* Question: even if I comment out the main {margin-top} property below, there's space between nav and main. Nav has no margin. What gives? 

OK, wait, if I get rid of nav {position: fixed} nav moves down flush against main. But then it's not flush against the top of the page. Does <body> have some default top padding or something? */

main {
	clear: both;
	width: 960px;
	margin: 100px 150px 85px 150px;
}

.content {
	width: 650px;
}

.sidebar {
	width: 270px;
}

.box {
	background: white;
	padding: 30px;
	border: 1px solid #ccc;
}

.hr {
	background: #ccc;
	height: 2px;
	width: 100%;
	margin: 20px 0px 20px 0px;
}

#headshot {
	width: 200px;
	padding-right: 10px;
}

#iconBox {
	text-align: justify;
	width: 100%;
}

.icon {
	height: auto;
	width: 60px;
	display: inline-block;
}

#iconBox:after {
	content: '';
	width: 100%;
	display: inline-block;
}

footer {
	clear: both;
	position: fixed;
	bottom: 0;
	left: 0;
	height: 80px;
	width: 100%;
	border-top: 5px solid #4aaaa5;
	background: #666;
	color: #ccc;
	text-align: center;
}

footer p {
	position: relative;
	top: 40%;
  transform: translateY(-60%);
}

/* I used "top: 50%; transform: translateY(-50%)", and the result appeared to be below center. The above looks right. Why? It's not the footer's 5px border-top, is it?*/